$button-primary-background-light:#3040E5;
$button-font-color-light: white;

@mixin primary-button{
    border:none;
    background-color: $button-primary-background-light;
    color: $button-font-color-light;
    border-radius: 66px;
    width: 165px;
    height: 40px;

    //typography 
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 20px;
}