@use "./modules/app";

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.section-header{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.application-list{
    display: flex;
    flex-direction: column;
    margin: 40px 24px; 

    &:last-child{
        border-bottom: none;
    }
}
