@use "./modules/app";

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.section-header{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.application-list{
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin: 40px 24px; 
    gap:24px;

    &__upper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 62px;
        margin-bottom:24px;
    }

    &__lower{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 62px;

    }

}



.long-button{
    width: 100%;
    max-width: 1140px;
    height: 40px;
    font-family: var(--seondary-font), sans-serif;
    font-size:0.85rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--primary-font-color);
    border: 1px solid var(--long-button-border-color);
    border-radius: 43px;
    background-color: var(--long-button-background-color);
}


@media only screen and (min-width:700px){

    .application-list__upper{
        flex-direction: row;
        border-bottom: 1px solid var(--divider-color);
    }

    .application-list__lower{
        flex-direction: row;
    }

    .dark-mode{
        .long-button{
            background-color:#333B4A;
            border:none;
        }
    }
    
}