@use './primary-button';


.product{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 135px;
}

.product-tag{
    width:135px;
    height: 32px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: var(--tag-background-mobile-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 0.9rem;
    font-weight: 500;

    //positionk
    position:absolute;
    z-index: 1;
    top:16px;
    left:16px;

    &__container{
        width:24px;
        height:24px;
    }

    &__icon{
        width: 100%;
        height: 100%;
    }
    
}

// Insert image of project for mobile 
#tuku-ternak .product-image-container{
    content: url("../public/tuku-ternak-mob.svg");
    width: 100%;
}

.product-img__container{
    width: 100%;
}

// Insert image of project for mobile 
#event-id .product-image-container{
    content: url("../public/ticketing-mob.svg");
    width: 100%;
}

// Insert image of project for mobile 
#medica .product-image-container{
    content: url("../public/medica-mob.svg");
    width: 100%;
}

//product details wrapper
.product-details{
    padding: 24px;
}

// wrapper container for product icon and title
.product-icon-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:25px;
}

//product icon container sizing
.product-icon{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    
    &__img{
        width: 100%;
        height: 100%;
    } 
}

.product__title{
    font-family: var(--primary-font), sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 41px;
}

// product-description typography
.product-description{
    margin: 26px 0;
    font-family: var(--primary-font), sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 26px;
}

// project tools container
.tools-used{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}


// Insert image fo project for desktop
@media screen and (min-width: 600px) {
    #tuku-ternak .product-image-container{
        content: url("../public/tuku-ternak-desktop.svg");
    }

    #event-id .product-image-container{
        content: url("../public/ticketing-desktop.svg");
    }
    
    #medica .product-image-container{
        content: url("../public/medica-desktop.svg");
    }

    // .product-tag{
    //     display: none;
    // }
    
}