@use './primary-button';

.products-list{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: var(--product-background-color);
}

.product{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 135px;
    max-width: 1150px;
    background-color:var(--product-background-color);
}


.overview{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-tag{
    width:135px;
    height: 32px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: var(--tag-background-mobile-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 0.9rem;
    font-weight: 500;

    //position
    position:absolute;
    z-index: 1;
    top:24px;
    left:24px;

    &__container{
        width:24px;
        height:24px;
    }

    &__icon{
        width: 100%;
        height: 100%;
    }
    
}

.product-image__container{
    width: 100%;
    min-width: 550px;
    object-fit:cover;
}

.product-image__img{
    object-fit:cover;
}


//product details wrapper
.product-details{
    padding: 24px;
    display:flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

// wrapper container for product icon and title
.product-icon-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:25px;
}

//product icon container sizing
.product-icon{
    width: 68px;
    height: 68px;
    padding : 5px;
    border-radius: 50%;
    background-color: #EDEDED;
    
    &__img{
        width: 100%;
        height: 100%;
    } 
}

.product-tag-desktop{
    display:none;
}

.product__title{
    font-family: var(--primary-font), sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 41px;
}

// product-description typography
.product-description{
    margin: 26px 0;
    font-family: var(--primary-font), sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 26px;
}

// project tools container
.tools-used{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}


// Insert image fo project for desktop
@media screen and (min-width: 400px) {
    .product-tag-mobile{
        display: none;
    }
    
    .product-tag-desktop{
        display:flex;
        position: static;
        z-index: 0;
        background-color: var(--tag-background-desktop-color);
    }
    
}

@media screen and (min-width: 700px){

    .products-list{
        background-color:var(--product-section-background-color);
    }

    .product{
        flex-direction: row-reverse;
    }
    
    .product-details{
        align-items: flex-start;
    }
    

    .product-image{
        width: 50%;
    }
}